@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  /* for shadow */
  --stronger-cyan: hsl(171, 60%, 35%);
  --light-blue: hsl(233, 100%, 69%);
  /* for shadow */
  --dark-blue: hsl(233, 91%, 63%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);

  --font-main: "Bai Jamjuree", sans-serif;

  --weight-regular: 400;
  --weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

img {
  max-width: 100%;
}

.hero {
  max-height: 75rem;
  /* overflow: hidden; */
  position: relative;
  z-index: 1;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  z-index: 0;
}

.hero__content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.hero__text-content {
  text-align: center;
  /* border: 1px solid red; for preview only */
  padding: 0 7.5rem;
}

.hero__heading-lg {
  margin-top: 2rem;
  color: var(--dark-grayish-blue);
  /* margin-bottom: 1rem; */
  font-size: 2.75rem;
}

.hero__paragraph {
  font-size: 1.25rem;
  margin: 1rem 0;
  color: var(--grayish-blue);
}

/* buttons */
.hero__btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.btn {
  padding: 0.75rem 2.75rem;
  border-radius: 2rem;
  display: block;
  border: none;
  font-weight: var(--weight-bold);
  font-size: 1.125rem;
  cursor: pointer;
}

.btn__cyan {
  color: white;
  background-color: var(--strong-cyan);
  box-shadow: 0px 5px 0px 0px var(--stronger-cyan);
  transition: 100ms ease-in-out;
}

.btn__cyan:hover {
  box-shadow: 0px 5px 10px var(--stronger-cyan);
}

.btn__blue {
  color: white;
  background-color: var(--light-blue);
  box-shadow: 0px 5px 0px 0px var(--dark-blue);
}

.btn__blue:hover {
  box-shadow: 0px 5px 10px var(--light-blue);
}

/* snippets */
.snippets__text-content {
  text-align: center;
  padding: 6rem calc(3 * 6rem);
}

.snippets__heading,
.devices__heading,
.workflow__heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-grayish-blue);
}

.snippets__paragraph,
.devices__paragraph,
.workflow__paragraph {
  color: var(--grayish-blue);
  font-size: 1.125rem;
  /* max-width: 85%; */
}

.snippets__cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  /* border: 1px solid green; for preview */
  align-items: center;
}

.snippets__features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.snippets__feature-item {
  max-width: 60%;
}

.snippets__feature-title {
  color: var(--dark-grayish-blue);
  margin-bottom: 0.5rem;
}

.snippets__feature-para {
  color: var(--grayish-blue);
}

.snippets__computer {
  max-width: 40rem;
}

/* devices section */
.devices__text-content {
  text-align: center;
  padding: 6rem calc(3 * 6rem);
}

.devices__image-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.devices__workflow {
  padding: 3rem 18rem;
}

.workflow__text-content {
  text-align: center;
}

.workflow__features {
  padding: 3rem 9rem;
  /* border: 2px solid green; for preview */
}

/* workflow grid */
.workflow__cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.workflow__item {
  text-align: center;
}

.workflow__item-image-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workflow__item-image-wrapper img {
  display: block;
}

.workflow__item-heading {
  margin-bottom: 1rem;
  display: block;
  color: var(--dark-grayish-blue);
}

.workflow__item-para {
  color: var(--grayish-blue);
}

.companies-section {
  padding: 4rem;
}

.companies__cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.companies__company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies__company img {
  max-width: 125px;
}

/* downloads section */
.downloads__text-content {
  text-align: center;
  padding: 6rem 18rem;
}

.downloads__heading {
  font-size: 2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}

.downloads__paragraph {
  font-size: 1.125rem;
  color: var(--grayish-blue);
}

.downloads__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

/* footer */
.footer {
  padding: 3rem;
  background-color: whitesmoke;
}

.footer__cols {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}

.footer__logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer__logo {
  max-width: 50px;
}

.footer__links-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.footer__links-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  transition: 100ms ease;
}

.footer__link:hover {
  color: var(--strong-cyan);
}

.social__icons-cols {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.social__icon {
  color: var(--dark-grayish-blue);
  transition: 100ms ease;
  font-size: 1.125rem;
  cursor: pointer;
}

.social__icon:hover {
  color: var(--strong-cyan);
}
/* responsive for mobile */
@media screen and (max-width: 700px) {
  .hero__content-center {
    padding: 6rem 1rem;
  }

  .hero__text-content {
    padding: 0 1rem;
  }

  .hero__heading-lg {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .hero__btn-flex {
    flex-direction: column;
  }

  .snippets__cols {
    grid-template-columns: 1fr;
  }

  .snippets__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .snippets__computer {
    max-width: 20rem;
  }

  .snippets__text-content {
    padding: 3rem 1rem;
  }

  .snippets__features-wrapper {
    justify-content: center;
    align-items: center;
  }

  .snippets__feature-item {
    text-align: center;
  }

  .devices__text-content {
    padding: 4rem 1rem;
  }

  .devices__workflow {
    padding: 3rem;
  }

  .workflow__cols {
    grid-template-columns: 1fr;
  }
  .workflow__features {
    padding: 3rem;
  }

  .workflow__heading {
    font-size: 1.5rem;
  }

  .companies__cols {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .downloads__text-content {
    padding: 3rem 2rem;
  }

  .downloads__btn-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .footer__cols {
    grid-template-columns: 1fr;
  }

  .footer__links-cols {
    grid-template-columns: 1fr;
    justify-content: center;
    /* align-items: center; */
  }

  .footer__links-wrapper {
    align-items: center;
  }

  .social__icons-cols {
    padding: 1.5rem;
    gap: 2rem;
  }
}

/* @media screen and (max-width: 820px) {
  

  .hero__content-center {
    padding: 3rem;
  }

  .hero__text-content {
    padding: 6rem 3rem;
  }

  .hero__btn-flex {
    padding: 1rem;
  }

  .snippets__text-content {
    padding: 6rem 3rem;
  }

  .snippets__cols {
    grid-template-columns: 1fr;
  }

  .snippets__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .snippets__features-wrapper {
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .snippets__feature-item {
    text-align: center;
  }

  .snippets__feature-title {
    font-size: 1.5rem;
  }

  .snippets__feature-para {
    font-size: 1.25rem;
  }

  .devices__text-content {
    padding: 3rem;
  }

  .devices__workflow {
    padding: 3rem;
  }

  .workflow__features {
    padding: 3rem 2rem;
  }

  .companies__cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .downloads__text-content {
    padding: 6rem 3rem;
  }

  .footer {
    padding: 2rem 1rem;
  }
} */
